@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#greenbox {
    justify-self: center;
    background-color:  #859040;
    padding-top: 10%;
    padding-bottom: 10%;
}

#yellowbox {
    justify-self: center;
    background-color: #efb32a;
    padding-top: 10%;
    padding-bottom: 10%;
}

#orangebox {
    width: 100%;
    justify-self: center;
    background-color:  #e96429;
    padding-top: 10%;
    padding-bottom: 10%;
}

/* #innerboxg {

} */

#turbogrid {
    height: 100%;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.current_date {
    grid-row: 2;
    margin: auto auto;
}
.current-1 {
    grid-row: 3;
    margin: auto auto;
}
.current-2 {
    grid-row: 4;
    margin: auto auto;
}
.current-3 {
    grid-row: 5;
    margin: auto auto;
}
.current-4 {
    grid-row: 6;
    margin: auto auto;
}
.current-5 {
    grid-row: 7;
    margin: auto auto;
}
.current-6 {
    grid-row: 8;
    margin: auto auto;
}

.date {
    grid-column: 1;
}
.laborpercent {
    grid-column: 2;
}
.morning {
    grid-column: 3;
}
.afternoon {
    grid-column: 4;
}
.evening {
    grid-column: 5;
}

@media screen and (min-width: 700px) {

    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* margin-top: 15vh; */
        font-family: "Noto Sans", sans-serif;
        position: relative;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 110%;
        background: url('threesmoothies.jpg') center/cover no-repeat;
        opacity: 0.5; 
        z-index: -1;
    }

    #title {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 25px;
        margin-top: 5vh;
    }

    #greenbox{
        width: 100%;
        height: 60vh;
        grid-column: 1;
    }

    #yellowbox {
        width: 100%;
        grid-column: 2;
    }

    #orangebox{
        height: 60vh;
        justify-self: center;
        grid-column: 3
    }
}